body {
    background-color: black;
}
a {
color:white;
text-decoration: none;
margin-top: 100px;
}



.slider {
position: relative;
height: 400px;
margin: auto;
width: 700px;
overflow: hidden;
}

.slide {
position: absolute;
z-index: 0;
left: 0;
top: 0;
}

.active {
transform: translateX(0%) translateZ(0);
transition: 0.5s all cubic-bezier(0.4, 0.0, 0.2, 1);
z-index: 100;
}

.prev {
transform: translateX(-100%) translateZ(0);
transition: 0.5s all cubic-bezier(0.4, 0.0, 0.2, 1);
z-index: 90;
}

.next {
transform: translateX(100%) translateZ(0);
transition: 0.5s all cubic-bezier(0.4, 0.0, 0.2, 1);
z-index: 90;
}

.controls {
position: relative;

z-index: 110;
left: 0;
padding: 16px;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
font-size: 32px;
color: rgb(255,255,255);
}
.div-1 {
background-color: red;
height: 500px;
width: 700px;
}
.div-2 {
background-color:cadetblue;
height: 500px;
width: 700px;
}
.div-3 {
background-color:blueviolet;
height: 500px;
width: 700px;
}
